body {
  height: 100vh;
}

#board {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  height: 90vh;
  max-width: 90vh;
  border-width: 1px;
  border-color: black;
  border-style: solid;

} 

div {
  margin: 0;
  padding: 0;
}

.boardRow {
  display: flex;
  flex: auto;
}

.boardSquare {
  flex: auto;
  background-color: rgba(0, 0, 0, 0);
}

